*~
codelite
Makefile
config.log
config.status
*.gmo
*.o
stamp-h1
autom4te.cache/
src/gnethogs
po/stamp-po
src/.deps/
ABOUT-NLS
INSTALL
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.rpath
config.sub
configure
data/Makefile.in
data/icons/Makefile.in
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
m4/
missing
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
src/Makefile.in
